body {
  font-family: 'Helvetica';
  font-size: 22px;
  font-weight: bold;
  color:seashell;
  background-color: black;
  opacity: 0.5;
  text-align: center;
}

 /* header and navbar */

.logo {
  float: left;
  height: 50px;
  margin-left: 10px;
  margin-top: 9px;
  margin-bottom: 9px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav a {
  color: seashell;
}

.container {
  border-bottom: 1px solid seashell;
  height: 69px;
}

/* mission  */

.top-container {
  background-image: url("images/img-mission-background.webp");
  text-align: center;
  height: 700px;
  width: 1200px;
  margin: 0 auto;

}

.top-heading {
  position: relative;
  top: 50%;
  bottom: 50%;
  background-color: black;
  border: 1px solid black;
}

/* Tea of the month section */

.middle-header {
  margin-top: 80px;
}

.middle-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 1000px;
  margin: 10px auto;
}


.middle-image {
  width: 300px;
  height: 200px;
}

/* Locations section */

.locations-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 550px;
  width: 1200px;
  background-image: url("images/img-locations-background.webp");
  margin: 0 auto;
}

.location-box {
  
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
}

/* Contact Info */
.bottom-container {
  text-align: center;
  height: 200px;
}

#copyright {
  margin-left: 20px;
  text-align: left;
}